<html>
{{#each foo}}
{{this}}
{{/each}}
<h3>Add New Card:</h3>
<form id="addcard" action="/card" method="post">
	Name: <input type="text" name="card_name"><br>
	Rarity <input type="text" name="rarity"><br>
	Description <input type="text" name ="description"><br>
	Mana Cost <input type="number" name="mana_cost"><br>
	Card Type <input type="text" name="card_type"><br>
	Attack Power <input type="number" name="attack_power"><br>
	Health Power <input type="number" name="health_power"><br>
	Durability <input type="number" name="durability"><br>
	Spell Type <input type="text" name="spell_type"><br>
	
	<input type="submit" value="Submit">
</form>
<br/>

<form id='filter_cards' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter cards by mana cost: </label>
    <select id='mana_cost_filter' name="mana_cost"> 
        {{#each card}}
        <option value="{{mana_cost}}">{{mana_cost}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterCardsByManaCost()">
</form>

<form id='search_cards' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search cards by name:</label>
    <input id='card_name_search_string' type='text' name='card_name_search_string' value=''>
    <input type="button" value="Search" onclick="searchCardsByName()">
</form>

<h3>Current Cards:</h3>
<table>
	<thead>
		<th>Name:</th>
		<th>Rarity</th>
		<th>Description</th>
		<th>Mana Cost</th>
		<th>Card Type</th>
		<th>Attack Power</th>
		<th>Health Power</th>
		<th>Durability</th>
		<th>Spell Type</th>
	</thead>
	<tbody>
		{{#each card}}
		<tr>
			<td>{{card_name}}</td>
			<td>{{rarity}}</td>
			<td>{{description}}</td>
			<td>{{mana_cost}}</td>
			<td>{{card_type}}</td>
			<td><a href="/card/{{id}}">Update</a></td>
			<td><button onclick="deleteCard({{id}})">Delete</button></td>
		</tr>
		{{/each}}
	</tbody>
</table>
</html>
